<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content dashbaord">
        <div class="in-content-wrapper">
            <div class="row no-gutters">
                <div class="col">
                    <div class="heading-messages">
                        <h3 style="color: black;">Dashboard</h3>
                    </div>
                    <!-- End heading-messages -->
                </div>
                <!-- End column -->
            </div>
            <!-- End row -->
            <div class="box">
                <div class="dashboard-wrapper">
                    <div class="row">
                        <div class="col-xl col-md-6">
                            <div class="dashboard-boxes primary">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="icon">
                                            <a href="messages-inbox.html"><i class="fa fa-envelope"></i></a>
                                        </div>
                                    </div>
                                    <!-- End column -->
                                    <div class="col">
                                        <a href="messages-inbox.html">
                                            <h5>10 New Messages</h5>
                                        </a>
                                    </div>
                                    <!-- End column -->
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End dashboard-boxes -->
                        </div>
                        <!-- End column -->
                        <div class="col-xl col-md-6">
                            <div class="dashboard-boxes success">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="icon">
                                            <a href="bookmarks.html"><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                    <!-- End column -->
                                    <div class="col">
                                        <a href="bookmarks.html">
                                            <h5>6 New Bookmarks</h5>
                                        </a>
                                    </div>
                                    <!-- End column -->
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End dashboard-boxes -->
                        </div>
                        <!-- End column -->
                        <div class="col-xl col-md-6">
                            <div class="dashboard-boxes danger">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="icon">
                                            <a href="reviews.html"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                    <!-- End Columns -->
                                    <div class="col">
                                        <a href="reviews.html">
                                            <h5>10 New &nbsp;Reviews</h5>
                                        </a>
                                    </div>
                                    <!-- End column -->
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End dashboard-boxes -->
                        </div>
                        <!-- End column -->
                        <div class="col-xl col-md-6">
                            <div class="dashboard-boxes warning">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="icon">
                                            <a href="bookings.html"><i class="fa fa-address-book"></i></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <a href="bookings.html">
                                            <h5>10 New Bookings</h5>
                                        </a>
                                    </div>
                                    <!-- End column -->
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End dashboard-boxes -->
                        </div>
                        <!-- End column -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End dashboard-wrapper -->
                <div class="dashboard1-wrapper">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="dashboard-boxes1 primary">
                                <div class="icon">
                                    <a [routerLink]="['/admin/users/list-user']" routerLinkActive="router-link-active"><i class="fa fa-user"></i></a>
                                </div>
                                <a [routerLink]="['/admin/users/list-user']" routerLinkActive="router-link-active">
                                    <h5>{{number_of_user}} <small class="d-block">User Listings</small></h5>
                                </a>
                            </div>
                            <!-- End dashboard-boxes1 -->
                        </div>
                        <!-- End column -->
                        <div class="col">
                            <div class="dashboard-boxes1 danger">
                                <div class="icon">
                                    <a [routerLink]="['/admin/listing/all-hotel']" routerLinkActive="router-link-active"><i class="fa fa-building"></i></a>
                                </div>
                                <a [routerLink]="['/admin/listing/all-hotel']" routerLinkActive="router-link-active">
                                    <h5>{{number_of_hotel}} <small class="d-block">Hotel Listings</small></h5>
                                </a>
                            </div>
                            <!-- End dashboard-boxes1 -->
                        </div>
                        <!-- End column -->
                        <div class="col">
                            <div class="dashboard-boxes1 last-ones warning">
                                <div class="icon">
                                    <a [routerLink]="['/admin/listing/approved-hotel']" routerLinkActive="router-link-active"><i class="fa fa-building-o"></i></a>
                                </div>
                                <a [routerLink]="['/admin/listing/approved-hotel']" routerLinkActive="router-link-active">
                                    <h5>{{number_of_hotel_active}} <small class="d-block">Active Hotel Listings</small></h5>
                                </a>
                            </div>
                            <!-- End dashboard-boxes1 -->
                        </div>
                        <!-- End column -->
                        <div class="col">
                            <div class="dashboard-boxes1 last-ones info">
                                <div class="icon">
                                    <a [routerLink]="['/admin/listing/pending-hotel']" routerLinkActive="router-link-active"><i class="fa fa-building-o"></i></a>
                                </div>
                                <a [routerLink]="['/admin/listing/pending-hotel']" routerLinkActive="router-link-active">
                                    <h5>{{number_of_hotel_inactive}} <small class="d-block">Pending Hotel Listings</small></h5>
                                </a>
                            </div>
                            <!-- End dashboard-boxes1 -->
                        </div>
                        <!-- End column -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End dashboard1-wrapper -->
            </div>
            <!-- End Box -->
        </div>
        <!-- End in-content-wrapper -->
    </div>
    <!-- End content-dashboard -->
</section>
<!-- ===========End Innerpage-wrapper============= -->