<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content profile view-profile">
        <div class="row no-gutters">
            <div class="col">
                <div class="heading-messages">
                    <h3>Profile</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="breadcrumb">
                    <div class="breadcrumb-item">
                        <i class="fa fa-angle-right"></i><a href="#">Profile</a>
                    </div>
                    <div class="breadcrumb-item active">
                        <i class="fa fa-angle-right"></i>View Profile
                    </div>
                </div>
                <!-- end breadcrumb -->
            </div>
            <!-- End column -->
        </div>
        <!-- end row -->
        <div class="box">
            <div class="row">
                <div class="col">
                    <div class="details-text">
                        <h4>Profile Details</h4>
                    </div>
                    <!-- end details-text -->
                </div>
                <!-- end -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-8">
                    <div class="profile-padding">
                        <div class="row">
                            <div class="col-sm-6 col-5">
                                <div class="heading-part">
                                    <p for="Name">Username:</p>

                                    <p for="inputEmail4">Role:</p>
                                </div>
                                <!-- end heading-part -->
                            </div>
                            <!-- end column -->

                            <div class="col-sm-6 col-7">
                                <div class="details-part">
                                    <p>{{ username }}</p>

                                    <p>{{ role }}</p>
                                </div>
                                <!-- end details-part -->
                            </div>
                            <!-- end column -->
                        </div>
                        <!-- end row -->
                        <!-- end personal-info -->
                    </div>
                    <!-- end profile-padding -->
                </div>
                <!-- End column -->
                <div class="col">
                    <div class="upload-photo-wrapper">
                        <div class="upload-heading">
                            <h5>Photo</h5>
                        </div>
                        <!-- end upload-heading -->

                        <div action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
                            <div class="dz-message">
                                <h1>
                                    <i class="fa fa-camera"></i>
                                </h1>
                            </div>
                        </div>
                        <!-- end dropzone -->
                    </div>
                    <!-- end upload-photo-wrapper -->
                </div>
                <!-- End column -->
            </div>
            <!-- end row -->
        </div>
        <!-- end box -->
    </div>
    <!-- end view-profile -->
</section>
<!-- ===========End Innerpage-wrapper============= -->