<!-- PAGE TITLE -->
<section class="pageTitle" style="background-image:url(../../../assets/img/pages/page-title-bg12.jpg);"></section>

<!-- PAGE CONTENT -->
<section class="mainContentSection singleHotel">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="package-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item">
                                    <a class="media-left fancybox-pop">
                                        <!-- href="{{property.img}}"  -->
                                        <img class="media-object" src="{{property?.img}}" style="width: 740px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="description-aria">
                            <h1>{{ property?.name }}</h1>
                            <div class="sectionTitle2">
                                <p>Address: {{ property?.address }}</p>
                            </div>
                            <div class="sectionTitle2">
                                <h2>Utilities: </h2>
                                <div *ngFor="let item of haveUtility">
                                    <p>* {{ item }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="location-aria">
                            <div class="sectionTitle2">
                                <h2>Location</h2>
                            </div>
                            <div class="google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12097.002861286059!2d-74.01154310416635!3d40.71249695811257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1502716241862"
                                    width="100%" height="400px" scrolling="no" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="review-aria">
                            <div class="sectionTitle2">
                                <h2>Reviews</h2>
                            </div>
                            <div class="reviewContent">
                                <h3 class="reviewTitle">
                                    Reviews ({{reviewNumber}})
                                    <span *ngIf="averageRating !=0">{{averageRating | number:'1.1-2'}}
                    <i class="fa fa-star" aria-hidden="true"></i>                    
                  </span>
                                </h3>

                                <div class="reviewMedia">
                                    <ul class="media-list" *ngFor="let item of feedback">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../../assets/img/blog/comments-02.jpg" alt="Image" />
                                                </a>
                                            </div>
                                            <div class="media-body" style="margin-left: 80px">
                                                <h5 class="media-heading">{{item?.username}}</h5>
                                                <span>{{item?.rating}}<i class="fa fa-star" aria-hidden="true"></i></span>
                                                <p>{{item?.content}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <form [formGroup]="formFeedback" (ngSubmit)="onSubmit()" class="commentsForm">
                                    <h3 class="reviewTitle">Leave your review</h3>
                                    <p>Want to Rate it?
                                        <span><b class="gridSizeValue">{{ ratingValue.value }} <i class="fa fa-star"></i></b>                            
                                            <mat-slider style="width: 250px" #ratingValue (change)="rating($event)" step="0.1" min="0" max="10" [value]="ratingValue"></mat-slider>
                                        </span>
                                    </p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3" placeholder="Comment" formControlName="comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn buttonCustomPrimary">submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-sm-4 col-xs-12">
                <div class="singleCartSidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">Check availability</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Check in:</label
                      >
                      <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                        <div
                          class="input-group date ed-datepicker filterDate"
                          data-provide="datepicker"
                        >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="MM/DD/YYYY"
                          />
                          <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label
                        class="control-label col-md-4 col-sm-12 col-xs-4"
                        for="inputSuccess3"
                        >Check out:</label
                      >
                      <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                        <div
                          class="input-group date ed-datepicker filterDate"
                          data-provide="datepicker"
                        >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="MM/DD/YYYY"
                          />
                          <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label
                        class="control-label col-md-4 col-sm-12 col-xs-4"
                        for="inputSuccess3"
                        >Guest:</label
                      >
                      <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                        <div class="count-input">
                          <a class="incr-btn" data-action="decrease" href="#"
                            >–</a
                          >
                          <input class="quantity" type="text" value="1" />
                          <a class="incr-btn" data-action="increase" href="#"
                            >+</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="totalCost">
                      <div class="col-xs-7 totalCostLeft">
                        <p>Total Cost</p>
                      </div>
                      <div class="col-xs-4 totalCostRight">
                        {{ property?.price | currency: "VND" }}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <a (click)="onClick()" class="btn btn-block buttonTransparent"
                        >Check now
                        <i class="fa fa-angle-right" aria-hidden="true"></i
                      ></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

<!-- RELATED SECTION -->
<section class="relatedSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle2">
          <h2>you may also like</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xs-12">
          <div class="thumbnail deals hotelgrid">
            <img
              src="../../../assets/img/holets/hotel-list-01.jpg"
              alt="deal-image"
            />
            <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
            <div class="discountInfo discountCol-3">
              <ul class="list-inline rating homePage">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
              </ul>
              <ul class="list-inline dates">
                <li>4 review</li>
              </ul>
            </div>
            <div class="caption">
              <h4>
                <a href="single-hotel-right-sidebar.html" class="captionTitle"
                  >The Rookery Hotel</a
                >
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="detailsInfo">
                <h5><span>Start From</span> $40</h5>
                <ul class="list-inline detailsBtn">
                  <li>
                    <a href="booking-1.html" class="btn buttonTransparent"
                      >Book now</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xs-12">
          <div class="thumbnail deals hotelgrid">
            <img
              src="../../../assets/img/holets/hotel-list-02.jpg"
              alt="deal-image"
            />
            <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
            <div class="discountInfo discountCol-3">
              <ul class="list-inline rating homePage">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
              </ul>
              <ul class="list-inline dates">
                <li>3 review</li>
              </ul>
            </div>
            <div class="caption">
              <h4>
                <a href="single-hotel-right-sidebar.html" class="captionTitle"
                  >The Rookery Hotel</a
                >
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="detailsInfo">
                <h5><span>Start From</span> $35</h5>
                <ul class="list-inline detailsBtn">
                  <li>
                    <a href="booking-1.html" class="btn buttonTransparent"
                      >Book now</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xs-12">
          <div class="thumbnail deals hotelgrid">
            <img
              src="../../../assets/img/holets/hotel-list-03.jpg"
              alt="deal-image"
            />
            <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
            <div class="discountInfo discountCol-3">
              <ul class="list-inline rating homePage">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
              </ul>
              <ul class="list-inline dates">
                <li>5 review</li>
              </ul>
            </div>
            <div class="caption">
              <h4>
                <a href="single-hotel-right-sidebar.html" class="captionTitle"
                  >The Rookery Hotel</a
                >
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="detailsInfo">
                <h5><span>Start From</span> $40</h5>
                <ul class="list-inline detailsBtn">
                  <li>
                    <a href="booking-1.html" class="btn buttonTransparent"
                      >Book now</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>