@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto+Slab|Work+Sans");

/* =====================================================
    Messages Start
===================================================== */

.content {
    margin: 0px 20px 0 270px;
}


/* =====================================================
    Messages Settings Starts
===================================================== */

.box {
    background-color: #e6e6e6;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 0 0 40px 0;
}

.heading-messages h3 {
    margin: 30px 0px 50px 10px;
}

.breadcrumb {
    border-radius: 50px;
    padding: 10px 25px;
    margin: 30px 0;
    background-color: #ededed;
    font-weight: bold;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "";
    margin: 0;
    padding: 0;
    display: inline-block;
}

.breadcrumb .breadcrumb-item i {
    padding: 0 10px 0 0;
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #1a1a1a;
}

.details-text h4 {
    margin: 10px 45px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 20px 0;
}


/* =====================================================
      Messages Compose
  ===================================================== */


/* =====================================================
    Tooltip Ends
===================================================== */

.box .add-new {
    margin: 40px 0 30px 20px;
}

.box .add-new a {
    padding: 5px 20px;
    background-color: #ff3333;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
}

.box .add-new a i {
    padding: 0 0 0 10px;
    font-size: 11px;
}

.box .tools-btns {
    margin: 40px 20px 30px 0px;
}

.box .tools-btns a i {
    padding: 7px 20px;
    background-color: #ff3333;
    color: #e6e6e6;
    border-radius: 20px;
    font-size: 11px;
}


/* =====================================================
    Add New Button Ends
===================================================== */


/* =====================================================
    Listing Add details BLock Start
===================================================== */

.form-row .col-md:nth-child(1) {
    padding: 0 20px 0 0;
}

form {
    position: relative;
    margin: 40px auto 30px auto;
    max-width: 90%;
}

form .form-group {
    margin-bottom: 35px;
}

form .form-group>label {
    position: absolute;
    color: #0f0f0f;
    font-weight: 600;
    left: 0px;
    background-color: #cccccc;
    width: 170px;
    padding: 7px 10px;
    height: 38px;
    margin: auto 0;
}

form .form-group .form-control {
    padding: 0 0 0 175px;
}

form .form-group .custom-select {
    color: #333333;
    border: 1px solid #cccccc;
}


/*!
 * Bootstrap v4.2.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline-item {
    display: inline-block
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.col-sm-12,
.col-sm-8 {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

@media (min-width:576px) {
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/"
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
}