<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content add-details profile">
        <div class="in-content-wrapper">
            <div class="row no-gutters">
                <div class="col">
                    <div class="heading-messages">
                        <h3>Profile</h3>
                    </div>
                    <!-- End heading-messages -->
                </div>
                <!-- End column -->
                <div class="col-md-4">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item"><i class="fa fa-angle-right"></i><a href="#">Profile</a>
                        </div>
                        <div class="breadcrumb-item active"><i class="fa fa-angle-right"></i>Edit Profile
                        </div>
                    </div>
                    <!-- end breadcrumb -->
                </div>
                <!-- End column -->
            </div>
            <!-- end row -->
            <div class="box">
                <div class="row">
                    <div class="col">
                        <div class="details-text">
                            <h4>Edit Profile Details</h4>
                        </div>
                        <!-- end details-text -->
                    </div>
                    <!-- end column -->
                </div>
                <!-- end row -->
                <div class="hotel-listing-form">
                    <form class="text-center" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="to2" class="">New Password :</label>
                                            <input type="password" class="form-control" required formControlName="password" name="password">
                                            <div class="alert-danger" *ngIf="submitted && editForm.get('password').errors; else notPass" class="invalid-feedback">
                                                <div *ngIf="editForm.get('password').errors['required']" style="color: red">Password is required</div>
                                            </div>
                                            <ng-template #notPass>
                                                <div class="alert-danger" *ngIf="editForm.get('password').dirty && editForm.get('password').errors">
                                                    <div *ngIf="editForm.get('password').errors['required']" style="color: red">
                                                        Password is required</div>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                </div>
                                <!-- end column -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label style="height:37px" for="to3" class="">Confirm Password:</label>
                                            <input style="height:38px" type="password" class="form-control" id="to3" formControlName="cfPassword" name="cfPassword">
                                            <div class="alert-danger" *ngIf="submitted && editForm.get('cfPassword').errors; else notCf" class="invalid-feedback">
                                                <div *ngIf="editForm.get('cfPassword').errors['required']" style="color: red">Confirm Password is required</div>
                                                <div *ngIf="editForm.get('cfPassword').errors['mustMatch']" style="color: red">Passwords must match</div>
                                            </div>
                                            <ng-template #notCf>
                                                <div class="alert-danger" *ngIf="editForm.get('cfPassword').dirty && editForm.get('cfPassword').errors">
                                                    <div *ngIf="editForm.get('cfPassword').errors['required']" style="color: red">
                                                        Confirm Password is required</div>
                                                    <div *ngIf="editForm.get('cfPassword').touched &&editForm.get('cfPassword').errors['mustMatch']" style="color: red">
                                                        Passwords must match
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                </div>
                                <!-- end form-group -->
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button type="submit" class="btn" [disabled]="editForm.invalid">Update</button>
                                    </li>
                                </ul>
                            </div>
                            <!-- end column -->
                        </div>
                        <!-- end row -->
                    </form>
                </div>
                <!-- end hotel-listing-form -->
            </div>
            <!-- end box -->
        </div>
        <!-- end in-content-wrapper -->
    </div>
    <!-- end profile -->
</section>
<!-- ===========End Innerpage-wrapper============= -->