<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content add-details profile">
        <div class="in-content-wrapper">
            <div class="row no-gutters">
                <div class="col">
                    <div class="heading-messages">
                        <h3>My Hotel</h3>
                    </div>
                    <!-- End heading-messages -->
                </div>
                <!-- End column -->
                <div class="col-md-4">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <i class="fa fa-angle-right"></i><a href="#">My Hotel</a>
                        </div>
                        <div class="breadcrumb-item active">
                            <i class="fa fa-angle-right"></i>Add Hotel
                        </div>
                    </div>
                    <!-- end breadcrumb -->
                </div>
                <!-- End column -->
            </div>
            <!-- end row -->

            <div class="box">
                <div class="row">
                    <div class="col">
                        <div class="details-text">
                            <h4>Your Homestay</h4>
                        </div>
                        <!-- end details-text -->
                    </div>
                    <!-- end column -->
                </div>
                <!-- end row -->
                <div class="hotel-listing-form">
                    <form class="text-center" [formGroup]="formAddHouse" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="control-label required">Name</label>
                                            <input type="text" class="form-control" formControlName="name" required />
                                            <div *ngIf="submitted; else nottitle">
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.name.hasError('required')||formAddHouse.controls.name.dirty
                                                       && formAddHouse.controls.name.invalid
                                                       ||formAddHouse.controls.name.touched">
                                                    <div *ngIf="formAddHouse.controls.name.hasError('required'); else enter5">This field is required!</div>
                                                    <ng-template #enter5>
                                                        <div *ngIf="formAddHouse.controls.name.hasError('whitespace')">This field is required!</div>
                                                    </ng-template>
                                                </div>
                                            </div>

                                            <ng-template #nottitle>
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.name.dirty && formAddHouse.controls.name.invalid 
                                                      ||formAddHouse.controls.name.touched">
                                                    <div *ngIf="formAddHouse.controls.name.hasError('required'); else enter5">This field is required!</div>
                                                    <ng-template #enter5>
                                                        <div *ngIf="formAddHouse.controls.name.hasError('whitespace')">This field is required!</div>
                                                    </ng-template>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                </div>

                                <!-- end column -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="">Address</label>
                                            <input type="text" class="form-control" formControlName="address" required />
                                            <div *ngIf="submitted; else notaddress">
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.address.hasError('required')||formAddHouse.controls.address.dirty
                                                       && formAddHouse.controls.address.invalid
                                                       ||formAddHouse.controls.address.touched">
                                                    <div *ngIf="formAddHouse.controls.address.hasError('required'); else address">This field is required!</div>
                                                    <ng-template #address>
                                                        <div *ngIf="formAddHouse.controls.address.hasError('removeSpaces')">This field is required!</div>
                                                    </ng-template>
                                                </div>
                                            </div>

                                            <ng-template #notaddress>
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.address.dirty && formAddHouse.controls.address.invalid 
                                                      ||formAddHouse.controls.address.touched">
                                                    <div *ngIf="formAddHouse.controls.address.hasError('required'); else address">This field is required!</div>
                                                    <ng-template #address>
                                                        <div *ngIf="formAddHouse.controls.address.hasError('removeSpaces')">This field is required!</div>
                                                    </ng-template>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                    <!-- end column -->
                                </div>
                                <!-- end form-row -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="">City</label>
                                            <mat-form-field class="example-full-width" style=" margin-left: 170px;
                                            margin-top: -8px;">
                                                <input type="text" required matInput [formControl]="myControl" [matAutocomplete]="auto" formControlName="city" style="padding-left: 10px;" />
                                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                        {{ option }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                            <!-- <div *ngIf="submitted; else notcity">
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.city.hasError('required')||formAddHouse.controls.city.dirty
                                                       && formAddHouse.controls.city.invalid
                                                       ||formAddHouse.controls.city.touched">
                                                    <div *ngIf="formAddHouse.controls.city.hasError('required'); else city">This field is required!</div>
                                                </div>
                                            </div>

                                            <ng-template #notcity>
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.city.dirty && formAddHouse.controls.city.invalid 
                                                      ||formAddHouse.controls.city.touched">
                                                    <div *ngIf="formAddHouse.controls.city.hasError('required')">This field is required!</div>
                                                </div>
                                            </ng-template> -->
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                </div>
                                <!-- end column -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="control-label required">Price</label>
                                            <input type="number" class="form-control" formControlName="price" required min="100000" max="5000000" />
                                            <div *ngIf="submitted; else notprice">
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.price.hasError('required')||formAddHouse.controls.price.dirty
                                                       && formAddHouse.controls.price.invalid
                                                       ||formAddHouse.controls.price.touched">
                                                    <div *ngIf="formAddHouse.controls.price.hasError('required')">This field is required!</div>
                                                    <div *ngIf="formAddHouse.controls.price.hasError('pattern')"> 100.000VND - 9.999.999VND </div>
                                                </div>
                                            </div>

                                            <ng-template #notprice>
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.price.dirty && formAddHouse.controls.price.invalid 
                                                      ||formAddHouse.controls.price.touched">
                                                    <div *ngIf="formAddHouse.controls.price.hasError('required'); else price">This field is required!</div>
                                                    <div *ngIf="formAddHouse.controls.price.hasError('pattern')">100.000VND - 9.999.999VND </div>
                                                </div>
                                            </ng-template>

                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                </div>
                                <!-- end column -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="">Link Image</label>
                                            <input type="text" class="form-control" formControlName="img" />
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                    <!-- end column -->
                                </div>
                                <!-- end column -->
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label class="control-label required">Rating</label>
                                            <input type="number" class="form-control" formControlName="rating" required min="1" max="10" />
                                            <div *ngIf="submitted; else notrating">
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.rating.hasError('required')||formAddHouse.controls.rating.dirty
                                                       && formAddHouse.controls.rating.invalid
                                                       ||formAddHouse.controls.rating.touched">
                                                    <div *ngIf="formAddHouse.controls.rating.hasError('required'); else rating">This field is required!</div>
                                                    <div *ngIf="formAddHouse.controls.rating.hasError('pattern')">Rating from 1 to 10</div>
                                                </div>
                                            </div>
                                            <ng-template #notrating>
                                                <div style="color: red; font-size: 14px" *ngIf="formAddHouse.controls.rating.dirty && formAddHouse.controls.rating.invalid 
                                                      ||formAddHouse.controls.rating.touched">
                                                    <div *ngIf="formAddHouse.controls.rating.hasError('required'); else rating">This field is required!</div>
                                                    <div *ngIf="formAddHouse.controls.rating.hasError('pattern')">Rating: 0 <i class="fa fa-star" aria-hidden="true"></i>- 10<i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                    <!-- end column -->
                                </div>
                                <!-- end form-group -->
                                <div *ngIf="errorMessage" class="alert-danger" style="    background: #ff000094;
                                text-align: center;
                                height: 30px;
                                width: 165px;
                                padding: 5px;">{{errorMessage}}</div>

                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button type="submit" class="btn" style="font-size: large">Submit</button>
                                    </li>
                                    <!-- <li class="list-inline-item">
                                        <button type="submit" class="btn">Cancel</button>
                                    </li> -->
                                </ul>
                            </div>
                            <!-- end column -->
                        </div>
                        <!-- end row -->
                    </form>
                </div>
                <!-- end hotel-listing-form -->
            </div>
            <!-- end box -->
        </div>
        <!-- end in-content-wrapper -->
    </div>
    <!-- end profile -->
</section>
<!-- ===========End Innerpage-wrapper============= -->