<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content listing-content users-list">
        <div class="in-content-wrapper">
            <div class="row no-gutters" style="height: 90px;">
                <div class="col">
                    <div class="heading-messages">
                        <h3 style="font-weight: 500;
                        font-family: inherit;
                        font-size: 1.75rem;">Listing</h3>
                    </div>
                    <!-- End heading-messages -->
                </div>
                <div class="col-md-4">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <i class="fa fa-angle-right"></i><a href="#">Listing</a>
                        </div>
                        <div class="breadcrumb-item active">
                            <i class="fa fa-angle-right"></i>All
                        </div>
                    </div>
                    <!-- end breadcrumb -->
                </div>
                <!-- End column -->
            </div>
            <!-- end row -->

            <div class="box">
                <div class="row no-gutters"></div>
                <!-- end row -->
                <div class="mat-elevation-z8">
                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                        </mat-form-field>
                    </div>

                    <div class="example-container mat-elevation-z8">
                        <mat-table #Table [dataSource]="dataSource" style="width: 100%;" matSort>
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
                            </ng-container>

                            <!-- Username Column -->
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.username }}
                                </mat-cell>
                            </ng-container>

                            <!-- Role Column -->
                            <ng-container matColumnDef="role">
                                <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.role }}
                                </mat-cell>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Delete
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div (click)="openDialog(element.id)" style="cursor: pointer;">
                                        &nbsp;<i class="fa fa-trash" style="color: #007bff;"></i>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 100]"></mat-paginator>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end box -->
        </div>
        <!-- end in-content-wrapper -->
    </div>
    <!-- end users-list -->
</section>
<!-- ===========End Innerpage-wrapper============= -->