@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto+Slab|Work+Sans");

/* =====================================================
    Messages Start
===================================================== */

.content {
    margin: 0px 20px 0 270px;
}


/* =====================================================
    Messages Settings Starts
===================================================== */

.box {
    background-color: #e6e6e6;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 0 0 40px 0;
}

.heading-messages h3 {
    margin: 30px 0px 50px 10px;
}

.details-text h4 {
    margin: 10px 20px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 20px 0;
}


/* =====================================================
    Messages Settings Ends
===================================================== */


/* =====================================================
    Tooltip Ends
===================================================== */

.box .add-new {
    margin: 40px 0 30px 20px;
}

.box .add-new a {
    padding: 5px 20px;
    background-color: #ff3333;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
}

.box .add-new a i {
    padding: 0 0 0 10px;
    font-size: 11px;
}

.box .tools-btns {
    margin: 40px 20px 30px 0px;
}

.box .tools-btns a i {
    padding: 7px 20px;
    background-color: #ff3333;
    color: #e6e6e6;
    border-radius: 20px;
    font-size: 11px;
}


/* =====================================================
    Add New Button Ends
===================================================== */

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
}

.breadcrumb {
    border-radius: 50px;
    padding: 10px 25px;
    margin: 30px 0;
    background-color: #ededed;
    font-weight: bold;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "";
    margin: 0;
    padding: 0;
    display: inline-block;
}

.breadcrumb .breadcrumb-item i {
    padding: 0 10px 0 0;
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #1a1a1a;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/"
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}